@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased font-sans;
    direction: rtl;
    text-align: right;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
}
